.main {
	margin-top: 5vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lorem {
	width: 60vw;
}
.err {
	height: 30px;
	color: red;
}
#form {
	width: 40vw;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
button {

}